body {
    font-size: 15px;
    color: #000;
    background-color: #E5E5E5;
}
.clear {
    clear: both;
}
.bg-green{
    background-color: #459A9C;
}
.cusicon{
    width: 32px;
    height: 32px;
    background-color: #283948;
}
.text-green{color: #459A9C;}
.main .inner h2{
    font-size: 24px;
}
.bg-cusgreen{
    background-color: #B9DBD9;
}
.bg-cuspur{
    background-color:#C4CBDB ;
}
.bg-cuspurple{
    background-color: #CFC7DC;
}
.colorbg{
    background-color: #CE5748;
}
.bg-yellow{
    background-color: #F8CA58;
}
.bg-brown{
    background-color: #F5BEA5;
}
.bg-sky{
    background-color: #B2E2EC;
}
.bg-mate{
    background-color: #CDC58A;
}
.bg-skydark{
    background-color: #4FC3C6;
}
.bg-greendark{
    background-color: #47AF96;
}